body{
    /*background-color: rgb(214, 233, 179);*/
    font-size: 1em;
}

section{
    margin: 1em;
    display: block;
    background-color: aliceblue;
    text-align: center;
    opacity: 0.9;
    border-color: rgb(77, 48, 48);
    border: 1px;
}

form{
    padding-bottom: 1rem;
}
input{
    border-color: rgb(150, 196, 232);
    margin: 1em;
    margin-bottom: 1rem;
    /*padding: 1.1em;*/
}
button{
    border-radius: 5%;
    text-shadow: 0.05em 0.05em 0.05em #87dfb6;
    font-size: 1rem;
    background-color: #d48484;
    color: white;
}

label{
    size: 1rem;
}