body{
    background-color: azure;
}

div, h1 {
    text-align: center;
}

h1 {
    font-size: 35px;
}

button{
    border-radius: 5%;
    font-size: 30px;
    background-color: #f7bbbb;
    color: white;
}